.wrapper {
  margin: 3em;
}

.container {
  margin: 3em 0;
}

.title {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.sub_title {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.date_container {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
}

.btn {
  width: 13em;
  padding: 1em;
  font-size: 1em;
  margin-right: 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.save_btn {
  background-color: rgba(5, 5, 104, 0.89);
  color: white;
}
